@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 2.0em;
    text-align: center;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
}

h2 {
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
}

h3 {
    font-size: 1.5em;
    text-align: left;
    font-weight: bold;
}

body {
    background-color: rgba(211, 215, 220, 1);
}

html {
    overflow-x: hidden;
    overflow-y: scroll !important;
}

.ajaxBusy {
    display: none;
    margin: 0px 0px 0px -50px; /* left margin is half width of the div, to centre it */
    padding: 3rem 10px 10px 10px;
    position: absolute;
    left: 30%;
    top: 325px;
    width: 500px;
    height: 150px;
    text-align: center;
    background: #e8e8e8 url(./images/busy.gif) no-repeat center center;
}    

.button {
    background-color: rgba(88, 155, 167, 1);
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 1.2em;
    text-align: center;
    padding-top: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 1em;
}

.button:hover {
    color: #2C4059;
}

.flex-start {
    display: flex;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-justify-content: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.text {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 50%;
    font-size: 1.2em;
    text-align: center;
}

.shadow {
    box-shadow: 0 1px 6px rgba(0, 0, 0, .1);
}

/***** Navigation *****/
header {
    flex-wrap: wrap;
    background-color: #FFFFFF;
    width: 90%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

header .logo {
    flex: 1;
    color: rgba(47, 54, 62, 1);
    font-weight: bold;
    width: 15%;
    margin-left: 25px;
    letter-spacing: 0.2rem;
}

header nav {
    justify-content: flex-end;
    text-align: right;
    margin-right: 25px;
    text-transform: uppercase;
    justify-content: space-between;
}

header nav ul li {
    list-style-type: none;
    color: #404040;
    font-size: 14px;
    text-align: left;
    margin-right: 25px;
    letter-spacing: 2px;
    font-weight: bold;
    transition: all 0.3s linear;
}

header nav ul li a {
    color: #404040;
    text-decoration: none;
}

header nav ul li:hover a {
    color: #2C4059;
}

/*** Main ***/
.container {
    flex-direction: column;
    width: 90%;
    margin-top: 0px;
    background-color: #FFFFFF;
    height: max-content;
}

/*** About ***/
.about {
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
    height: min-content;
}

.about picture {
    border-radius: 50%;
    background-color: #404040;
    width: 300px;
    height: 300px;
    overflow: hidden;
    object-position: center;
}

.about h1 {
    color: rgba(47, 54, 62, 1);
}

.avatar {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

/*** Skill ****/
.skill {
    width: 100%;
    margin-bottom: 3rem;
}

.skill h2 {
    font-size: 1.3rem;
    color: rgba(47, 54, 62, 1);
}

.skill h3 {
    font-size: 1.2rem;
    color: rgba(88, 155, 167, 1);
}

.skill .detail {
    border-radius: 2rem;
    background-color: rgba(47, 54, 62, 1);
    color: #FFFFFF;
    height: 15rem;
    padding-top: 3rem;
}

.skill .group {
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    margin-top: -8rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
}

.skill .col {
    flex-direction: column;
    flex: 1 1 200px;
    background-color: #FFFFFF;
    border-radius: 20px;
    border: 1px rgba(88, 155, 167, 1);
    border-style: solid;
    margin: 1rem 1.5rem;
    height: 40rem;
}

.skill .footer {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.skill .content {
    flex-direction: column;
    margin: 1rem;
    width: 100%;
    height: 100%;   
}

.skill .box {
    padding-top: 1rem;
    padding-bottom: 1rem;
    min-height: 2.5rem;
    width: 100%;
}

.skill .icon-top {
    align-self: flex-start;
    align-items: center;
    max-width: 100%;
}

.skill .box-text {
    font-size: 1.0em;
    text-align: center;
    font-weight: bold;
    width: 80%;
    color: rgba(113, 123, 140, 1);
}

/**** Banner ****/
.banner {
    flex-direction: column;
    background-color: aquamarine;
    color: #FFFFFF;
    padding-top: 50px;
    padding-bottom: 50px;
}

.banner .footer {
    padding-top: 15px;
}

/*** Expirience ***/
.expirience {
    flex-direction: column;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.expirience h1 {
    color: rgba(47, 54, 62, 1);
}

.expirience .group {
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
}

.expirience .col {
    border: 1px rgba(88, 155, 167, 1);
    border-style: solid;
    height: 55rem;
    flex: 1 1 200px;
    margin: 20px 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.expirience .line {
    margin-top: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    height: 100px;    
    display: inline-flex;
}

.expirience .line .left {
    width: 100px;
    height: 100px;
}

.expirience .line .year {
    background-color: #F7F7F7;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.expirience .line .year .title {
    padding-top: 34%;
    padding-left: 19%;
    font-size: 1.5em;
    font-weight: bold;
}

.expirience .line .rigth {
    margin-left: 10px;
    margin-right: 10px;
}

.expirience .line .detail {
    padding-top: 10px;
    padding-left: 20px;
}
.expirience .line .detail p {
    padding-top: 10px;
}

/*** Footer ****/
footer {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    bottom: 0;
    background-color: rgba(47, 54, 62, 1);
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 0.1rem;
    border-top-width: 2px;
}

.footer_banner {
    padding-top: 20px;
    padding-bottom: 20PX;
    margin-bottom: 0px;
}

.social_media {
    width: 40px;
    height: 40px;
    filter: brightness(10);
}

.contact {
    padding-top: 20px;
    padding-bottom: 20px;
}

.contact p {
    color: rgba(255, 255, 255, 1);
}

.contact .social {
    margin-top: 3rem;
}

/* Color Theme Swatches in Hex */
.Paleta-inteligento-em-cinza-1-hex { color: #2C4059; }
.Paleta-inteligento-em-cinza-2-hex { color: #717B8C; }
.Paleta-inteligento-em-cinza-3-hex { color: #D3D7DC; }
.Paleta-inteligento-em-cinza-4-hex { color: #2F363E; }
.Paleta-inteligento-em-cinza-5-hex { color: #589BA7; }

/* Color Theme Swatches in RGBA */
.Paleta-inteligento-em-cinza-1-rgba { color: rgba(44, 64, 89, 1); }
.Paleta-inteligento-em-cinza-2-rgba { color: rgba(113, 123, 140, 1); }
.Paleta-inteligento-em-cinza-3-rgba { color: rgba(211, 215, 220, 1); }
.Paleta-inteligento-em-cinza-4-rgba { color: rgba(47, 54, 62, 1); }
.Paleta-inteligento-em-cinza-5-rgba { color: rgba(88, 155, 167, 1); }

/* Color Theme Swatches in HSLA */
.Paleta-inteligento-em-cinza-1-hsla { color: hsla(213, 33, 26, 1); }
.Paleta-inteligento-em-cinza-2-hsla { color: hsla(217, 10, 49, 1); }
.Paleta-inteligento-em-cinza-3-hsla { color: hsla(213, 11, 84, 1); }
.Paleta-inteligento-em-cinza-4-hsla { color: hsla(212, 13, 21, 1); }
.Paleta-inteligento-em-cinza-5-hsla { color: hsla(189, 30, 50, 1); }
