@charset "UTF-8";

@media (max-width: 1024px) {
    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.2em;
    }

    h3 {
        font-size: 1.2em;
    }

    header {
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    header .logo {
        margin-left: 0px;
    }

    header nav {
        display: none;
    }

    .text {
        margin-left: 10%;
        margin-right: 10%;
        width: auto;
        font-size: 1.0em;
    }

    .about {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .about h1 {
        margin-left: 5%;
        margin-right: 5%;
    }

    .about picture {
        width: 200px;
        height: 200px;
    }

    .skill {
        height: 40px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .skill .detail{
        padding-top: 30px;
        height: 40px;
        padding-bottom: 20px;
    }

    .skill .group {
        flex-direction: column;
        margin-top: 3rem;
        margin-left: 0px;
        margin-right: 0px;
    }

    .skill .col {
        width: auto;
    }

    .banner {
        margin-top: 1700px;
        width: calc(100% + 10% );
        margin-left: -5%;
    }

    .expirience {
        margin-top: 0px;
    }
    
    .expirience .top {
        padding-top: 30px;
        padding-bottom: 20px;
        height: 40px;
        border-radius: 20px;
    }

    .expirience .top h1 {
        color: rgba(47, 54, 62, 1);
    }

    .expirience .group {
        display: block;
        border: 1px solid rgba(88, 155, 167, 1);
        border-radius: 20px;
        margin: 20px 30px;
    }

    .expirience .col {
        margin: 0px;
        border: 0px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .expirience .line .year .title {
        padding-top: 25px;
        padding-left: 15px;
        font-size: 1em;
        font-weight: bold;
    }

    .expirience .line .year {
        width: 70px;
        height: 70px;
    }

    .expirience .line .detail p {
        font-size: 0.8em;
    }

    .social_media {
        width: 30px;
        height: 30px;
    }
}

.divMenuBurger {
    background-color: #FFFFFF;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.hamburguer {
    position: relative;
    display: block;
    background: #000;
    width: 30px;
    height: 2px;
    top: 29px;
    left: 15px;
    transition: 0.5s ease-in-out;
}

.hamburguer:before {
    top: -10px;
}

.hamburguer:after {
    bottom: -10px;
}

input {
    display: none;
}

input:checked~label .hamburguer {
    transform: rotate(45deg);
}

input:checked~label .hamburguer:before {
    transform: rotate(90deg);
    top: 0;
}

input:checked~label .hamburguer:after {
    transform: rotate(90deg);
    bottom: 0;
}