@charset "UTF-8";

html {
    height: 100%;
}

/* Body */
body {
    font-family: source-sans-pro;
    background-color: #F7F7F7;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-style: normal;
    font-weight: 200;
    height: 100%;
}

/* Container */
.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    min-height: 100%;
}

/* Navigation */
header {
    width: 100%;
    height: 20px;
    background-color: #404040;
    border-bottom: 1px solid #0E1939;
    background-repeat: no-repeat;
}

.logo {
    color: #FFFFFF;
    font-weight: bold;
    text-align: undefined;
    width: 15%;
    float: left;
    margin-top: 15px;
    margin-left: 25px;
    letter-spacing: 4px;
}



nav {
    float: right;
    width: 75%;
    text-align: right;
    margin-right: 25px;
    text-transform: uppercase;
}

nav ul {
    list-style: none;
    float: right;
}

nav ul li {
    float: left;
    color: #FFFFFF;
    font-size: 14px;
    text-align: left;
    margin-right: 25px;
    letter-spacing: 2px;
    font-weight: bold;
    transition: all 0.3s linear;
}

nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
}

nav ul li:hover a {
    color: #2C9AB7;
}

.hero_header {
    color: #FFFFFF;
    text-align: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    letter-spacing: 4px;
}

/* Hero Section */
.hero {
    padding-top: 100px;
    background-image: url("../images/5570.jpg");
}

.light {
    font-weight: bold;
    color: #717070;
}

.tagline {
    text-align: center;
    color: #FFFFFF;
    margin-top: 4px;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* About Section */
.text_column {
    width: 29%;
    text-align: justify;
    font-weight: lighter;
    line-height: 25px;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    color: #717070;
}

.about {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 35px;
    padding-bottom: 25px;
    display: inline-block;
    background-color: #FFFFFF;
    margin-top: 0px;
    margin-bottom: 20px;
}

/* Stats Gallery */
.stats {
    color: #717070;
    margin-bottom: 5px;
    text-align: center;
    max-height: 45px;
}

.gallery {
    clear: both;
    display: inline-block;
    width: 100%;
    background-color: #FFFFFF;
    /* [disabled]min-width: 400px;
*/
    padding-bottom: 35px;
    padding-top: 0px;
    margin-top: -5px;
    margin-bottom: 0px;
}

.thumbnail {
    width: 25%;
    text-align: center;
    float: left;
    margin-top: 35px;
    height: 150px;
}

.gallery .thumbnail h4 {
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    color: #52BAD5;
}

.gallery .thumbnail p {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    color: #A3A3A3;
}

/* Parallax Section */
.banner {
    background-color: #2D9AB7;
    background-image: url("../images/parallax.png");
    height: 300px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.parallax {
    color: #FFFFFF;
    text-align: right;
    padding-right: 100px;
    padding-top: 80px;
    letter-spacing: 2px;
    margin-top: 0px;
}

.parallax_description {
    color: #FFFFFF;
    text-align: right;
    padding-right: 100px;
    width: 30%;
    float: right;
    font-weight: lighter;
    line-height: 23px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

/* Cards */
.dev_column {
    width: 50%;
    height: 400px;
    text-align: center;
    padding-top: 30px;
    float: left;
}

.dev_column h3 {
    color: #B3B3B3;
    text-align: center;
}

.dev_column p {
    color: #717070;
    background-color: #FFFFFF;
}

.cards {
    width: auto;
    height: auto;
    max-width: 400px;
    max-height: 200px;
}

.dev_column p {
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
    line-height: 25px;
    font-weight: lighter;
    margin-left: 20px;
    margin-right: 20px;
}

.button {
    width: 200px;
    margin-top: 40px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    text-align: center;
    vertical-align: middle;
    border-radius: 0px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    border: 3px solid #FFFFFF;
    color: #FFFFFF;
    transition: all 0.3s linear;
}

.button:hover {
    background-color: #FEFEFE;
    color: #C4C4C4;
    cursor: pointer;
}

/* Footer */
footer {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    bottom: 0;
    background-color: #717070;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 2px;
    border-top-width: 2px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

footer a {
    color: #FFFFFF;
    text-decoration: none;
}

.social_media {
    width: 30px;
    height: 30px;
    filter: brightness(10);
}

.footer_banner {
    padding-top: 20px;
    padding-bottom: 20PX;
    margin-bottom: 0px;
    font-size: 0.8em;
}

.hidden {
    display: none;
}

/* Mobile */
@media (max-width: 380px) {
    .logo {
        width: 100%;
        text-align: center;
        margin-top: 13px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    nav {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        width: 100%;
        float: none;
        display: none;
    }

    nav ul li {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        width: 100%;
        text-align: center;
    }

    .text_column {
        width: 100%;
        text-align: justify;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

    .thumbnail {
        width: 100%;
    }

    .cards {
        max-width: 100%;
        max-height: 100%;
    }

    /* Parallax Section */
    .banner {
        background-color: #2D9AB7;
        background-image: url("../images/parallax.png");
        height: 400px;
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .parallax {
        color: #FFFFFF;
        text-align: right;
        padding-right: 100px;
        padding-top: 110px;
        letter-spacing: 2px;
        margin-top: 0px;
    }

    .parallax_description {
        color: #FFFFFF;
        text-align: right;
        padding-right: 100px;
        width: 30%;
        float: right;
        font-weight: lighter;
        line-height: 23px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .banner {
        background-color: #2D9AB7;
        background-image: none;
    }

    .tagline {
        margin-top: 20px;
        line-height: 22px;
    }

    .hero_header {
        padding-left: 10px;
        padding-right: 10px;
        line-height: 22px;
        text-align: center;
    }
}